/ = render partial: "headMessage"
= render partial: "shared/side_bar"
.main-contents
  .main-contents__header
    .main-contents__header__group
      = @group.name
      .main-contents__header__group__edit
        edit
    .main-contents__header__members
      メンバー
  .main-contents__body
    .main-contents__body__list
      = render partial: 'message', collection: @messages
  .main-contents__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: '#message_image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit'
