/ = render partial: "headMessage"
.left-contents
  .left-contents__user
    .left-contents__user__name
      = current_user.name
    .left-contents__user__bt1
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
    .left-contents__user__bt2
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
  .left-contents__groups
    = render partial: "group"
.main-contents
  .main-contents__header
    .main-contents__header__group
      グループの名前
      .main-contents__header__group__edit
        edit
    .main-contents__header__members
      メンバー
  .main-contents__body
    .main-contents__body__list
      = render partial: 'message', collection: @messages
  .main-contents__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: '#message_image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit'
