= render partial: "headMessage"
.left-contents
  .left-contents__user
    .left-contents__user__content__name
      name
    .left-contents__user__content__bt1
      = link_to root_path do
        %i.fa.fa-cog
    .left-contents__user__content__bt2
      = link_to root_path do
        %i.fa.fa-pencil-square-o
  .left-contents__groups
    = render partial: "group"
    = render partial: "group"
    = render partial: "group"
.main-contents
  .main-contents__header
    .main-contents__header__group
      グループの名前
      .main-contents__header__edit
        edit
    .main-contents__header__members
      メンバー
  .main-contents__body
    .main-contents__body__list
      =render partial: "message"
      =render partial: "message"
      =render partial: "message"
  .main-contents__footer
    %input.message{:name => "message", :placeholder => "type a message", :type => "text"}/
    %input.submit{:name => "commit", :type => "submit", :value => "Send"}/
